/* App specific styles, most styling is in index.css */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Base animations */
.fade-in {
  animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}